<div class="nav-items">
    <div class="items-row">
      <div class="row">
        <span class="col-md-6">
          <div class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-folder-fill"></i>&nbsp;<span>Item</span>
          </div><br>
          <div class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-folder-fill"></i>&nbsp; <span>QT1 Example Test</span>
          </div>
          <ul class="dropdown-menu dropdown-menu">
              <div class="down-icons">
                <div class="row">
                  <div class="col-md-6">
                    <div class="icon mt-1 dropdown-item" *ngFor="let itemsicons of items1Array">
                        <img src="{{itemsicons.icons}}" height="200px" width="125px">
                    </div>
                  </div>
                </div>
              </div>
          </ul>
          
        </span>
      </div>
      <div class="card" style="width: 28rem;">
        <div class="card-header">
          <h5 class="modal-title fs-9" id="ModalLabel">Edit Item</h5>
        </div>
        <div class="card-body">
          <div class="row mt-4">
            <div class="col-md-5">
              <label for="Label">Label<span>*</span></label>
            </div>
            <div class="col-md-7">
              <input type="text" class="form-control" placeholder="Associate Tings">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="savebtn">
        <img src="./assets/button.png" width="100px" alt="save">
    </div>
  


  
   